@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-ubuntu);
}

.loginBackground {
    background-color: #ffffff;
}

.table_container {
    @apply mt-5;
}

.react-tel-input input {
    width: 100% !important;
}

.appointment-layout * {
    margin-bottom: 7px;
}

.times-new-roman * {
    font-family: 'Times New Roman', Times, serif !important;
}

table.application-background {
    @apply w-full border-collapse;
}

table.application-background :where(td, th) {
    /*Enable borders */
    border-width: 1px;
    border-color: #000000;
    border-style: solid;

    @apply p-[5px];
}

table.personal-details :where(tr) {
    padding-bottom: 10px;
}
